*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mockup {
    width: 298px;
    height: 361px;
    background-image: url(/images/complex_interface.01.png);
    
    position: absolute;
    top: 0;
    left: 0;
    
    opacity: 0.5;
    z-index: 10;
    pointer-events: none;
  }

.container{

}

.top{

}

nav{

}

img.home{

}

img.menu{

}

h1{

}

h2{

}

h5{

}

.middle{

}

td.date{

}

.bottom{

}

img.avatar{

}

.buttons{

}

.btn1{

}

.btn2{

}

.btn3{
    
}
