*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mockup {
    width: 415px;
    height: 351px;
    background-image: url(/images/interface.11.png);
    
    position: absolute;
    top: 0;
    left: 0;
    
    opacity: 0.5;
    z-index: 10;
    pointer-events: none;
  }

  .container{
    width: 415px;
    height: 351px;
    margin-left: 15px;
    margin-top: 12px;
    font-family: 'Jost', sans-serif;
  }

  .top{
    font-size: 14x;

  }

  .middle{
    margin-right: 45px;
  }

  h1{
    font-family: 'Vidaloka', serif;
    font-size: 42px;
    font-weight: 400;
    line-height: 48px;
    padding-top: 18px;
    padding-left: 2px;
    
  }

  .middle p{
    padding-top: 20px;
    line-height: 24px;
    padding-bottom: 34px;
  }

  .bottom{
    margin-right: 29px;
    padding-top: 20px;
    padding-bottom: 18px;
    padding-right: 14px;
    padding-left: 10px;
    text-align: center;
    background-color: grey;
    
    
  }