*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mockup {
    width: 298px;
    height: 361px;
    background-image: url(/images/complex_interface.01.png);
    
    position: absolute;
    top: 0;
    left: 0;
    
    opacity: 0.5;
    z-index: 10;
    pointer-events: none;
  }

.container{
    margin: 4px;
    width: 290px;
    height: 356px;
}

.top{
    
}

nav{
  display: flex;
  justify-content: space-between;

}

img.home{
  height: auto;
  width: 9px;
  margin-left: 18px;
  margin-top: 6px;
  
}

img.menu{
  height: auto;
  width: 6px;
  margin-right: 18px;
}

h1{
  font-family: 'Noto Sans', sans-serif;
}

h2{
  font-family: 'IBM Plex Sans', sans-serif;
}

h5{
  font-family: 'Noto Sans', sans-serif;
}

.middle{
  font-family: 'PT Sans', sans-serif;
}

td.date{

}

.bottom{
  display: flex;
  font-family: 'PT Sans', sans-serif;

}

img.avatar{
  width: 28px;
  height: auto;
}

.buttons{

}

.btn1{
  text-decoration: none;
}

.btn2{
  text-decoration: none;
}

.btn3{
  text-decoration: none;
}
